<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="C=2_ListenersTest.java">
        <classes>
            <class name="techproed.tests.day23_Listeners.C01_ListenersTest">
                <methods>
                    <include name="test01"/>
                    <include name="test02"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>